.login-main {
  padding: 0;
  margin: 0;
  display: grid;
  height: 100vh;
  place-items: center;
}

.login-container {
  max-width: 90%; /* Use percentage for responsiveness */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Arial sans-serif;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-title {
  font-size: 24px; /* Original font size */
  margin-bottom: 1rem;
}

.login-error {
  color: red;
  margin-bottom: 1rem;
}

.login-form {
  margin-bottom: 1rem;
}

.login-label {
  display: block;
  text-align: left;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.login-input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.login-googleButton {
  width: 100%;
  padding: 0.75rem;
  border: none;
  background-color: #db4437;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.login-divider {
  margin: 1rem 0;
  border-top: 1px solid #ddd;
}

/* Mobile Styles */
@media (max-width: 640px) {
  .login-container {
    padding: 1rem; /* Reduced padding for mobile */
  }

  .login-title {
    font-size: 20px; /* Reduced font size for mobile */
  }

  .login-label {
    font-size: 14px; /* Reduced font size for mobile */
  }

  .login-button,
  .login-googleButton {
    font-size: 14px; /* Reduced font size for buttons */
  }
}
